#upload-card{
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 10%);
    
    border-radius: 1.6rem;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px 1px #0000001f;
    background-color: white;

    width: 18rem;
    height: 11.6rem;
}

#upload-input {
    position: relative;
    z-index: 3;

    opacity: 0;
    cursor: pointer;

    max-width:18rem;
    height: 3.6rem;
}

#upload-btn,
#import-btn {
    border-radius: 1.6rem;
    background-color: var(--accent-color-2);

    height: 100%;
    width:100%;
    font-size: 1.4rem;
    color: var(--primary-color);
}

#upload-btn{
    position: absolute;
    z-index: 2;
    top:0px;
    left:0px;
}

