/**** Cancel Drop and Drag animation ****/
.accordion-container div[data-rbd-placeholder-context-id] {display: none !important;}
.accordion-container div[data-rbd-draggable-context-id] {transition: 0.001s !important;}
.accordion-container div[data-rbd-droppable-context-id] {transition: 0.001s !important;}

#tab-container {
    border-radius: 1.5rem;
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgb(0 0 0/60%);
    height: 64.8rem;
    margin-bottom : 22rem;
}

.tab {
    flex-grow: 1;
    transition: background-color ease-in-out 0.4s;
    padding: 0.5rem;
    background-color: var(--primary-color-2);
    cursor: pointer;
    font-weight: 600;
}

.tab:hover {color: var(--accent-color-2);}

.active {
    border-top: 0.4rem solid var(--accent-color-2);
    background-color: var(--primary-color);
    color: var(--accent-color-2);
}

.accordion-container {
    overflow: scroll;
    height: 52rem;
}

.fetch-error-message,
.spinner {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner > svg{ font-size: 5rem;}

@media only screen and (max-width: 599px) { 
    #tab-container {height: 44.6rem}

    .tab {font-size: 1.5rem;}
    .accordion-container { height: 40rem;}

  /*  .input-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
  
        top: -9rem;
        z-index: 1;
    } */
}

@media only screen and (min-width: 800px) { 
    #tab-container { margin-bottom: 14rem;}
}