:root {
    --transition-time: 400ms;
    --text-color: #000000;
    --primary-color:#FFFFFF;
    --primary-color-2: #F2F2F2;
    --border-color: #D6D6D6; 
    --secondary-color:#1F1F1F;
    --accent-color-1:#DF2935;
    --accent-color-2:#307ABB; /*#C0486A */
}

.tab-container div[data-rbd-placeholder-context-id] {display: none !important;}
.tab-container div[data-rbd-draggable-context-id] {transition: 0.001s !important;}
.tab-container div[data-rbd-droppable-context-id] {transition: 0.001s !important;}

body {
    margin: 0;
    font-display: optional;
    font-family: 'Roboto','Lato','Times New Roman',Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}
  
code {
    font-family: source-code-pro, Monaco, Consolas, 'Courier New',monospace;
}
html {font-size: 10px; color:#1F1F1F}
html div, html p { font-size: 1.6rem;}

html, body, #root { background-color: var(--primary-color);}

/*** display ***/
.grid { display: grid; }
.header-template-cols { grid-template-columns: 2.5fr 5fr 3.5fr 0.5fr 0.5fr;}
.body-template-cols {grid-template-columns: 7.5fr 4.5fr;}

.flex { display: flex; }
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-basis-100 {flex-basis: 100%;}
.flex-basis-25 {flex-basis: 25%;}
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.item-center { align-items: center;}
.flex-2-auto {flex: 2 auto;}

/*** Dimension ***/
.mh-76 {min-height: 7.6rem;}
.h-16 {height: 1.6rem}
.h-36 {height: 3.6rem;}
.w-125 {width: 12.5rem;}
.w-270 {width: 27rem;}
.line-height-0 {line-height: 0;}

/*** background color ***/
.bg-black{background-color: var(--secondary-color);}
.bg-grey {background-color: var(--primary-color-2);}
.bg-blue {background-color: var(--accent-color-2);}

/*** color ***/
.clr-white {color: var(--primary-color);}
.cl-blue {color: var(--accent-color-2);}
.cl-green {color: #07B053;}
.cl-red {color: var(--accent-color-1);}

/*** font-size ***/
.sz-1 {font-size: 1.4rem;}
.sz-2 {font-size: 1.5rem;}
.sz-3 {font-size: 1.6rem;}
.sz-4 {font-size: 2rem;}

/*** spacing ***/
.m {margin: auto;}
.m-0 {margin: 0;}
.m-02{margin: 0.2rem;}
.m-1 { margin: 2rem 1.6rem;}
.m-2 {margin: 2.4rem;}

.mt-0 { margin-top: 0;}
.mt {margin-top: 0.8rem;}
.mb {margin-bottom: 0.8rem;}

.mb-1 {margin-bottom: 0.8rem;}
.mb-2 {margin-bottom: 1.2rem;}
.mb-3 { margin-bottom: 1.6rem;}

.mr-0 {margin-right: 0.5rem;}
.mr-1 {margin-right: 0.8rem;}
.mr-2 {margin-right: 1.2rem;}
.mr-3 {margin-right: 1.6rem;}

.ml-1 {margin-left: 0.8rem;}
.ml-2 {margin-left: 1.2rem}
.ml-3 {margin-left: 1.6rem;}

.pa {padding: 1.6rem 2.4rem;} 
.pab-1 {padding-bottom: 1.6rem;}
.pal {padding-left: 4rem;}
.pat-0 {padding-top: 0.8rem;}
.pat-1 {padding-top: 1.6rem;}

/*** round border and border ***/
.round {border-radius: 50%;}
.round-10 {border-radius: 1rem;}
.round-15 { border-radius: 1.5rem;}
.round-top-left { border-top-left-radius: 1.5rem;}
.round-top-right { border-top-right-radius: 1.5rem;}
.round-bottom-left { border-bottom-left-radius: 1.5rem;}
.round-bottom-right {border-bottom-right-radius: 1.5rem;}

.bd-r {border-right: 0.2rem solid var(--border-color);}
.bd-r-wh {border-right: 0.2rem solid var(--primary-color);}

/*** shadow ***/
.shadow {box-shadow: 0rem 0.2rem 0.4rem 0rem rgb(0 0 0/60%);}

/*** position ***/
.relative {position: relative;}
.absolute {position: absolute;}
.center-x { left: 50%; transform: translateX(-50%);}

/*** cursor ***/
.pointer {cursor: pointer;}

/***  transition ***/
.ease { transition: all var(--transition-time) ease; }

/* Linkedin, github */
.github {grid-column: 5;}
.linkedin {grid-column: 4;}

.github svg { color: var(--accent-color-2);}
.linkedin svg{ 
    border-radius: 0.4rem;
    color:var(--secondary-color);
    background-color: var(--accent-color-2);
}

.linkedin svg:hover{
    color: var(--accent-color-2);
    background-color: var(--primary-color);
    box-shadow: 0 0 4px 4px var(--primary-color);
}
.github svg:hover{
    color: var(--primary-color);
    background-color: var(--accent-color-2);
    box-shadow: 0 0 4px 4px var(--accent-color-2);
}

/******************** accordion *********************/
.accordion:hover {color: var(--accent-color-2)}
.accordion-header {
    flex-grow:2;
    font-weight: 600;
    padding: 0.6rem 1rem;
}

.rightIcon {
    padding-right:0.8rem;
    font-size: 2rem;
    line-height: 0;
    transition: transform var(--transition-time);
}

.rotate { transform: rotate(90deg);}

.removeIcon {
    position: absolute;
    left: 150px;
    border-radius: 50%;
    color: var(--accent-color-1);
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-time) ease, 
                visibility var(--transition-time) ease;
}

.removeIcon:hover {
    background-color: var(--accent-color-1);
    box-shadow: 0 0 2px 2px var(--accent-color-1);
    color:white;
}   

.accordion:hover .removeIcon{
    visibility: visible;
    opacity: 1;
}

/**** quarter *****/
.quarters-wrapper {
    opacity: 1;
    max-height: 400px;
}

.hide {
    opacity: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.quarter-header {
    padding: 0.15rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 0.2rem solid var(--border-color);
    border-top: 0.2rem solid var(--border-color);
    background-color: #F8F8F8;
}

.hide div, .hide h2 {
    min-height: 0px !important;
    max-height: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    border: none;
    overflow: hidden;
}

/* Tabs */
.tab-panel {
    padding:0;
    list-style: none;
}

.tab{
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color ease-in-out 0.4s;
}

.tab:hover {color: var(--accent-color-2);}

.tab-active {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    border-top: 0.4rem solid var(--accent-color-2);
}

.tab-container{
    border-top: 1px solid white;
    background-color: white;
    height: 710px;
    overflow: scroll;
}

.center-p{
    margin-top: 10rem;
    text-align: center;
}

    /* X */
.xmark{
    position:absolute;
    cursor: pointer;
    color: #F2F2F2;
    top: 0.2rem;
    right: 0.2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time) ease, 
                visibility var(--transition-time) ease;
}
.xmark svg:hover { color: white;}

.card:hover .xmark {
    opacity: 1;
    visibility: visible;
}

.courseId {
    padding-left: 1rem;
    cursor: pointer;
    color:white;
}

.unit {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    cursor: grab;
    color:snow;
    padding-right: 2.2rem;
    padding-left: 1rem;
}

.card-popup {
    background-color: white;
    border: 0.2rem solid;
    position: absolute;
    top: 4rem;
    left: -15%;
    width: 24rem;
    height: auto;
    cursor: default;
    z-index: 2;
    display: none;
    border-radius: 1rem;
}

.card-popup-before{
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    top: 3.5rem;
    left: 70%;
    margin: auto;
    transform: rotate(45deg);
    z-index: 2;
}

.popup-header {
    padding: 0.8rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

/*** Icons ***/
.icon { line-height: 0;}

.icon:hover {
    color: white;
    background-color: var(--accent-color-2);
    box-shadow: 0 0 0.3rem 0.3rem var(--accent-color-2);
}

.hyperlink {
    font-size: 2rem;
    text-decoration: none;
    color: var(--accent-color-2);
    font-weight: 630;
}

.hyperlink:hover {
    color:#FF934F;
    text-decoration: underline; 
}

.add-btn {
    position:absolute;
    top: 52%;
    right: 1%;
    transform: translateY(-50%);
    background-color: var(--accent-color-2);
    color:white;
    padding: 0.7rem;
    line-height: 0;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.m-icon { 
    left: 15px; 
    top: 6px; 
}

.fade-message {
    -moz-animation: fadeIn 1s ease-in 4s forwards;
    -webkit-animation: fadeIn 1s ease-in 4s forwards;
    -o-animation: fadeIn 1s ease-in 4s forwards;
    animation: fadeIn 1s ease-in 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    to {opacity: 0; visibility: hidden;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}