/***************************************************************************** 
                                Table of Contents
1. Global Styles
2. Common Styles
3. Layout
    3.1 Navigation
    3.2 Content
        3.2.1 Schedule (left-column)
        3.2.2 Courses Tabs (Right-column)
    3.3 Footer
4. Components
    4.1 accordion
        4.1.1 yearAccordion 
        4.1.2 section
    4.2 button
        4.2.1 btn-primary
        4.2.2 btn-secondary
        4.2.3 upload and import button
        4.2.4 remove-year-btn
        4.2.5 add-year-btn
        4.2.6 add-course-btn
        4.2.7 course-btn
        4.2.8 remove-course-btn
        4.2.9 close-tutorial-btn
    4.3 card
        4.3.1 course-card
        4.3.2 tutorial-card
    4.4 draggable course
        4.4.1 quarter-course
        4.4.1 reuired-course
    4.5 droppable container
    4.6 input
    4.7 tab
5. Images
    5.1 Major
    5,2 Footer logo
    5,3 Author 
6. Media Query
    6.1 Extra small devices (phones, 600px and down)
    6.2 Small devices (portrait tablets and large phones, 600px and up)
    6.3 Medium devices (landscape tablets, 768px and up)
    6.4 Large devices (laptops/desktops, 992px and up)
    6.5 Extra large devices (large laptops and desktops, 1200px and up)
**************************************************************************************/

/**** Cancel Drop and Drag animation ****/
#tab-content div[data-rbd-placeholder-context-id] {display: none !important;}
#tab-content div[data-rbd-draggable-context-id] {transition: 0.001s !important;}
#tab-content div[data-rbd-droppable-context-id] {transition: 0.001s !important;}

/**********************************************
*************  1. Global Styles  **************
***********************************************/
:root {
    --transition-time: 400ms;
    --text-color: #000000; /* black */
    --border-color: #D6D6D6;  /* light gray*/
    --primary-color:#FFFFFF; /* white */
    --primary-color-2: #F2F2F2; /* cultured */
    --secondary-color:#1F1F1F; /* Eerie Black */
    --accent-color-1:#DF2935; /* Rose Madder */
    --accent-color-2:#307ABB; /* French Blue */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-display: optional;
    font-family: 'Roboto','Times New Roman',Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}
  
code {font-family: 'Roboto','Times New Roman',Times, serif;}

html {font-size: 10px; color:#1F1F1F}

html, body, #root { background-color: var(--primary-color);}

h1, h2, h3, h4, h5, h6, p, div, ul, button {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

a, button, svg { cursor: pointer; }

ul {list-style-type: none;}

a {text-decoration: none;}

button {
    background: transparent;
    border: none;
}

svg { font-size: 10px; }

/**********************************************
*************  2. Common styles  **************
***********************************************/
.relative {position: relative;}
.absolute {position: absolute;}

.flex { display: flex; }

/* upload, download, help, tutorial, browse, major */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.round-10 {border-radius: 1rem;}
.round-15 { border-radius: 1.5rem;}
.round-top-left { border-top-left-radius: 1.5rem;}
.round-top-right { border-top-right-radius: 1.5rem;}
.round-bottom-left { border-bottom-left-radius: 1.5rem;}
.round-bottom-right {border-bottom-right-radius: 1.5rem;}

.green {color: #07B053;} /* success-message */
.red {color: var(--accent-color-1);} /* fail-message*/

/**********************************************
*****************  3. Layout  *****************
***********************************************/
/*** 3.1 Navigation bar ***/
#nav-bar {
    display: grid;
    grid-template-columns: 2.5fr 5fr 2.7fr 0.6fr 0.6fr 0.6fr;
    padding: 2rem 2.4rem 1.6rem 2.4rem;
    background-color: var(--secondary-color);
}

#logo-text-brand {color: var(--primary-color);}
#download { grid-column: 4;}
#upload { z-index: 2; grid-column: 5; }
#help {grid-column: 6;}

/*** 3.2 content ***/
#body-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 2.4rem 2.4rem 8rem 2.4rem;
}

/* 3.2.1 schedule (left-column) */
#schedule {flex-direction: column;}

#schedule-function-row{
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

/* 3.2.2 tab container (right-column)*/
#tab-container {
    border-radius: 1.5rem;
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgb(0 0 0/60%);
    height: 64.8rem;
}

.tab {
    flex-grow: 1;
    transition: background-color ease-in-out 0.4s;
    padding: 0.5rem;
    background-color: var(--primary-color-2);
    cursor: pointer;
    font-weight: 600;
}

.tab:hover {color: var(--accent-color-2);}

.tab-active {
    border-top: 0.4rem solid var(--accent-color-2);
    background-color: var(--primary-color);
    color: var(--accent-color-2);
}

#tab-content{
    overflow: scroll;
    border-top: 1px solid white;
    height: calc(100% - 50px);
}

/*** 3.3 footer ***/
#footer, #author-list-containter {
    display: grid;
    align-items: center;
}

#footer {
    justify-items: center;
    padding: 0rem 4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#author-list-containter {row-gap: 2rem;}
#author-list-containter > li {
    display: flex;
    flex-direction: column;
}

.author-name {
    color: var(--primary-color);
    margin-left: 1.6rem;
    font-size: 2rem;
}

#copyright,
.author-name {
    display: flex;
    align-items: center;
}

#footer-logo-container { margin: 2rem 0rem;}

#footer-header-container {
    margin-top: 2rem;
    height: 6.4rem;
}
#footer-header-container > h1 {
    font-size: 2.6rem;
    font-weight: 500;
}

#about-p {
    text-align: justify;
    line-height: 1.4;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
}

.contact-item {width:5rem;}
.contact-item > a > svg {
    font-size: 3.2rem;
    color: var(--primary-color);
}

#copyright {
    margin-top: 10rem;
    grid-column: 1/-1;
    
    flex-direction: column;
}

#copyright > a > svg {
    font-size: 3.6rem;
    color: var(--primary-color);
}

#copyright > p { margin: 1rem 0rem;}

/**********************************************
***************  4. Components  ***************
***********************************************/

/*** 4.1 accordion ***/
.accordion-section,
.accordion-year{
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgb(0 0 0/60%);
}

.accordion-year > .accordion > h1 {font-size: 2rem;}

.accordion-section {
    margin: 0rem 1.6rem 2rem 1.6rem;
}

.accordion {
    display:flex;
    align-items: center;
    cursor: pointer;

    background-color: var(--primary-color-2);
}
.accordion:hover {color: var(--accent-color-2)}

.accordion > h1 {
    flex-grow: 2;
    padding: 0.6rem 1rem;
    font-weight: 600;
}

.right-icon {
    padding-right:0.8rem;
    font-size: 2rem;
    line-height: 0;
    transition: transform var(--transition-time);
}

.rotate { transform: rotate(90deg);}

/* section */
.section-body { padding: 1.6rem 0rem;}


/*** 4.2 button ***/
/* 4.2.1 btn-primary */
.btn-primary {
    padding: 0.4rem 1rem;
    color: var(--accent-color-2);
}
.btn-primary svg:hover{
    box-shadow: 0 0 4px 3px var(--primary-color);
    border-radius: 50%;

    background-color: var(--accent-color-2);
    color: var(--primary-color);
}

/* 4.2.2 btn-secondary */
.btn-secondary { 
    border-radius: 50%;
    line-height: 0;
    color: var(--accent-color-2);
}

.btn-secondary:hover {
    box-shadow: 0 0 3px 3px var(--accent-color-2);
    background-color: var(--accent-color-2);
    color: white;
}

/* 4.2.3 upload and import button */
#upload-card{
    top: 75%;
    left: 50%;
    transform: translate(-50%, 10%);
    
    border-radius: 15px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px 1px #0000001f;
    background-color: white;

    width: 180px;
    height: 150px;
}

#upload-btn,
#import-btn {
    border-radius: 18px;
    background-color: var(--accent-color-2);

    height: 100%;
    width:100%;
    font-size: 1.6rem;
    color: var(--primary-color);
}

#upload-btn{
    z-index: 2;
    top:0px;
    left:0px;

    height: 100%;
    width:100%;
    font-size: 1.6rem;
}

#upload-input {
    z-index: 3;

    opacity: 0;
    cursor: pointer;

    max-width:180px;
    height: 3.6rem;
}

/* 4.2.4 remove-year-btn */
.remove-year-btn {
    left: 9.6rem;
    top: 0.8rem;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-time) ease, visibility var(--transition-time) ease;
    color: var(--accent-color-1);
}

.accordion:hover .remove-year-btn{
    visibility: visible;
    opacity: 1;
}

.remove-year-btn svg:hover {
    box-shadow: 0 0 2px 2px var(--accent-color-1);
    border-radius: 50%;
    background-color: var(--accent-color-1);
    color:white;
}   

/* 4.2.5 add-year-button */
#add-year-btn {
    left: 50%; 
    transform: translateX(-50%);
}

/* 4.2.6 add-course-btn */
.add-course-btn {
    top: 52%;
    right: 1%;

    transform: translateY(-50%);

    border-radius: 50%;
    padding: 0.7rem;
   
    background-color: var(--accent-color-2);

    line-height: 0;
    color:white;
}

/* 4.2.7 course-btn */
.course-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 1rem;

    width: 100%;
    height: 3.6rem;
}

.course-id {
    padding-left: 1rem;
    cursor: pointer;
    color:white;
}

.unit {
    text-align: center;
    cursor: grab;

    padding-right: 2.2rem;
    padding-left: 1rem;

    font-size: 1.2rem;
    color:snow;
}

/* 4.2.8 remove-course-btn */
.remove-course-btn{
    position:absolute;
    top: 0.2rem;
    right: 0.2rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time) ease, visibility var(--transition-time) ease;

    color: #F2F2F2;
}
.remove-course-btn svg:hover { color: white;}

.quarter-course:hover .remove-course-btn,
.required-course:hover .remove-course-btn {
    opacity: 1;
    visibility: visible;
}

/* 4.2.8 close-tutorial-btn */
#close-tutorial-btn {
    top: 2.5%;
    right: 2.5%;
}

#close-tutorial-btn svg { font-size: 3rem;}

/*** 4.3 Card ***/
/* 4.3.1 CourseCard */
.course-card {
    z-index: 3;
    top: 4rem;
    left: 80%;
    transform: translateX(-50%);

    border: 0.2rem solid;
    border-radius: 1rem;
    background-color: white;

    width: 24rem;
    height: auto;
}

.course-card-before{
    content: '';

    z-index: 2;
    top: 3.5rem;
    left: 70%;

    transform: rotate(45deg);
    margin: auto;

    width: 2.5rem;
    height: 2.5rem;
}

.course-card-header {
    padding: 0.6rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    font-size: 1.5rem;
}

.course-card-body {
    padding: 0.5rem;
}

.course-card-body > p {
    margin: 0.8rem 0rem;
    font-size: 1.4rem;
}

/* 4.3.2 TutorialCard */
#tutorial {
    z-index: 4;
    top: 0px;
    left: 0px;

    overflow: scroll;

    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.70);
}

.tutorial-img { 
    border-radius: 25px;
    border: 8px solid #5C9DD6;
    width: 550px;
    height: 726px;
}

.arrow { color:#5C9DD6; }

/*** 4.4 draggable courses ***/
/* 4.4.1 quater-course */

.quarter-course { margin: 0.2rem; }

/* 4.4.2 required-course */
.required-course {
    width: 12.8rem;
    height: 3.6rem;
}

/*** 4.5 droppable container ***/
/* quater */

.quarter-header {
    padding: 0.15rem;
   
    border-bottom: 0.2rem solid var(--border-color);
    border-top: 0.2rem solid var(--border-color);
    background-color: #F8F8F8;

    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.quarters-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    opacity: 1;
    max-height: 400px;
}

.quarter-droppable-area {
    min-height: 7.9rem;
    min-width: 12.8rem;
}

/* requirement sections */
.droppable-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.8rem);
    column-gap: 2.4rem;
    row-gap: 1.6rem;
}

.sub-droppable-area {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fill, 12.8rem);
    column-gap: 2.4rem;
    row-gap: 1.6rem;
}

.sub-droppable-area > span {
    z-index: 1;
    top: 0.8rem;
    left: 13.3rem;
}

.hide, .hide div, .hide h2 {
    opacity: 0;
    min-height: 0px !important;
    max-height: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    overflow: hidden;
}

.hide div, .hide h2 {
    border: none;
}
/*** 4.6 input ***/
.input-container {
    flex-direction: column;
    margin: 3rem 1.6rem 1.8rem 1.6rem;;
}

.browse-container {
    height: 3.6rem;
    width: 27rem;
}

.message-container {
    height: 1.6rem;
    max-width: 27rem;
}

.message {
    padding-top: 0.8rem;
    padding-left: 2.4rem;
    font-size: 1.4rem;
}

.message-icon { 
    left: 0px; 
    top: 6px; 
}

.fade-message {
    -moz-animation: fadeIn 1s ease-in 4s forwards;
    -webkit-animation: fadeIn 1s ease-in 4s forwards;
    -o-animation: fadeIn 1s ease-in 4s forwards;
    animation: fadeIn 1s ease-in 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    to {opacity: 0; visibility: hidden;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}

/*** 4.7 tabs ***/
.hyperlink {
    margin-bottom: 1.6rem;

    font-size: 2rem;
    font-weight: 630;
    text-align: center;
    color: var(--accent-color-2);
}

.hyperlink:hover {
    text-decoration: underline; 
    color:#FF934F;
}

.fetch-error-message,
#spinner {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#spinner > svg{ font-size: 5rem;}

/**********************************************
******************  5. Images  ****************
***********************************************/
#select-major-img {
    margin-top: 25%;
    height: auto;
    width: 94%;
    aspect-ratio: attr(width) / attr(height);
}

/* 5.1 logo - footer */
#logo-image {
    height: 7.2rem;
    width: 7.2rem;
    margin-right: 1rem;
}

/* authors */
.author-image {
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    border: 3px solid var(--accent-color-2);
}

/**********************************************
**************  5. Media quries  **************
***********************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .quarters-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #select-major-img{
        margin-top: 16%;
    }

    /*** footer responsive ***/
    #footer-logo-container, #footer-header-container{
        justify-content: start;
    }

    #footer {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }
    #author-list-containter { grid-template-columns: 1fr; } 
    #footer-header-container { margin: 2rem 0rem;}
    #copyright {margin-top: 5rem;}
}

@media only screen and (min-width: 900px) {
    #body-container {
        grid-template-columns: 7.5fr 4.5fr;
    }

    .quarters-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*** footer responsive ***/
    #author-list-containter {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }
    #footer{ column-gap: 10rem;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}