.modal {
    position:relative;
    border: 1px solid #ccc;
    background: #fff;
    outline: none;
    padding: 2rem 1rem;
    border-radius: 2.4rem;
    width: 400px;
    height: 500px;
}
  
.modal_header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
}

.modal_header h1{
    font-size: 2.4rem;
}

.modal_body {
    background: #fff;
    padding: 0rem 1rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: 'touch';
}
.modal_body > ul {
    height: 405px;
}

.x_icon {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
}

.x_icon > svg {
    font-size: 2rem;
}
  
.x_icon:hover{
    cursor: pointer;
    color:white;
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.playlist {
    padding: 1rem 0rem;
}

.playlist > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist > li > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.musicNote > svg {
    font-size: 2.4rem;
}

.item {
    cursor: pointer;
    margin-bottom: 1rem;
}