.timer-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #D1B3C4;
    padding:3rem 1rem 3rem 1rem;
    border-radius: 25px;
    letter-spacing: 2px;
}

.timer {
    padding: 0.4rem 2rem 0.4rem 2rem;
    color: black;
    background-color: white;
    border-radius: 15px;
    letter-spacing: 5px;
}

.timer:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.modal-top {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#B5838D;
    padding: 0.5rem;
    border-radius: 20px;
}