@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

ul {list-style-type: none;}

.virtual-cafe * {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.virtual-cafe-button{
  font-size: 3.2rem;
  padding: 0.6rem 3.2rem;
  color: black;
  background-color: white;
  border-radius: 1.5rem;
  letter-spacing: 0.2rem;
}

.virtual-cafe-button:hover{
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
  cursor: pointer;
}