@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

ul {list-style-type: none;}

.virtual-cafe * {
  font-family: 'Open Sans Condensed', sans-serif !important;
}


.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 25%;
  bottom: 35%;
  left: 35%;
  right: 35%;
  border: 1px solid #ccc;
  background: #fff;
  outline: none;
  padding: 0.5rem;
  border-radius: 30px;
}

.virtual-cafe-button{
  font-size: 3.2rem;
  padding: 0.6rem 3.2rem;
  color: black;
  background-color: white;
  border-radius: 1.5rem;
  letter-spacing: 0.2rem;
}

.virtual-cafe-button:hover{
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
  cursor: pointer;
}