.popup {
    width: 28rem;
    border-radius: 1.6rem;
    border: 1px solid var(--accent-color-2);
    padding: 1.2rem 1.6rem;
    background-color: white;
}

.schedule-name-input {
    height: 3.2rem;
    width: 100%;
    margin: 1rem 0rem;
    border-radius: 1.6rem;
    padding: 8px 12px;
    font-size: 1.6rem;
}