.hyperlink {
    margin-bottom: 1.6rem;

    font-size: 2rem;
    font-weight: 630;
    text-align: center;
    color: var(--accent-color-2);
}

.hyperlink:hover {
    text-decoration: underline; 
    color:#FF934F;
}

#select-major-img {
    margin-top: 20%;
    height: auto;
    width: 94%;
    aspect-ratio: attr(width) / attr(height);
}

@media only screen and (max-width: 599px) {
    .hyperlink { 
        margin: 1rem 1rem 0 1rem;
        font-size: 1.6rem;
    }

   /* #browse-id-container {display: block !important;} */
}

@media only screen and (min-width: 800px) {
    #select-major-img{ margin-top: 16%;}
}