.hyperlink {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--accent-color-2);
}

.hyperlink:hover {
    text-decoration: underline; 
    color:#FF934F;
}

#program-img {
    margin-top: 8%;
    height: auto;
    width: 94%;
    aspect-ratio: attr(width) / attr(height);
}

.program-container {
    overflow: scroll;
    height: 49rem;
}

@media only screen and (max-width: 599px) {
    .hyperlink { 
        margin: 1rem 1rem 0 1rem;
        font-size: 1.6rem;
    }

    .program-container { height: 40rem;}
}