.hyperlink, .hyperlink > button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hyperlink { 
    margin: 0 0.5rem 1rem 0.5rem;
}

.hyperlink > a, .hyperlink > button > svg{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--accent-color-2);
}

.hyperlink > a {
    text-align: center;
}

.hyperlink > a:hover {
    text-decoration: underline; 
    color:#FF934F;
}

#program-img {
    margin-top: 8%;
    height: auto;
    width: 94%;
    aspect-ratio: attr(width) / attr(height);
}

.program-container {
    overflow: scroll;
    height: 49rem;
}

@media only screen and (max-width: 599px) {
    .hyperlink > a, .hyperlink > svg { font-size: 1.6rem;}
    .program-container { height: 40rem;}
}