#schedule {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;

    padding: 0 0.5rem;
}

#function-row {
    display: flex;
    position: static;
    margin-bottom:30rem;
}

#refresh-btn, #add-year-btn, #total-units {
    position: absolute;
}

#refresh-btn {
    left: 1px;
}

#add-year-btn {
    left: 50%; 
    transform: translateX(-50%);
}

#total-units {
    top: 47.5rem;
    right: 1rem;
}

#total-units > p {font-size: 1.8rem;}

@media only screen and (max-width: 599px) { 
    #schedule {
        padding: 0 0.3rem 0 0.2rem;
        overflow-x: hidden;
        height: 45rem;
    }

    #refresh-btn, #add-year-btn { top: 46.5rem; }
}

@media only screen and (min-width: 600px) { 
    #schedule {height: 65rem;}

    #refresh-btn, #add-year-btn{ top: 67rem;}
    #total-units { top: 68.5rem;}

    #total-units > p {font-size: 1.6rem;}
}

@media only screen and (min-width: 800px) { 
    #schedule {overflow: visible; height: auto;}

    #function-row {
        position: relative;

        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    #refresh-btn, #total-units {
        position: relative;
        top: 0;
    }

    #add-year-btn {top: 0;}

    #total-units > p { font-size: 2rem; }
}
