#schedule {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;

    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
#left-side {
    margin-bottom: 2rem;
}

#left-side ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    border: 1px solid;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
    width: 7.8rem;
    height: 2.8rem;
    font-size: 1.6rem;
    color: var(--accent-color-2);
}

.btn:hover{
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: white;
}

#total-units > p {
    font-size: 1.8rem;
    margin-right: 1rem;
}


@media only screen and (max-width: 599px) { 
    #schedule {
        padding: 0 0.3rem 0 0.2rem;
        overflow-x: hidden;
        height: 54rem;
        margin-top: 5.3rem ;
    }

    #left-side > ul:first-child {
        position: absolute;
    }

    #total-units > p {
        font-size: 1.6rem;
        margin-right: 7.5rem;
    }
}

@media only screen and (min-width: 600px) { 
    #schedule {height: 65rem;}
}

@media only screen and (min-width: 800px) { 
    #schedule {overflow: visible; height: auto; margin-bottom: 0;}
}

@media print {
    #schedule {
        width: 766px;
        height: auto;
        overflow: visible;
        padding: 0rem;
        margin: 8rem auto auto 2.5rem;
    }
}