#footer {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 4rem 4rem 0 4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header {
    height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#about-us-content > p {
    line-height: 1.2;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 1rem;
}

#zot-tree{
    position: absolute;
    top:-12.8rem;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.5s;
}


#logo-container {
    margin: 5rem 0rem 2rem 0rem;
}

#logo-image {
    position: absolute;
    top:-5px;
    left: 100px;

    height: 3.6rem;
    width: 3.6rem;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr; 
    row-gap: 2rem;
}

.name {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
}

.list, #copyright {
    display: flex;
    align-items: center;
}

.list {margin-top: 1rem;}

.item > a > svg {
    font-size: 2rem;
    color: var(--primary-color);
}


#copyright {
    grid-column: 1/-1;
    flex-direction: column;

    margin-top: 6rem;
}

#copyright > p { font-size:1.4rem; margin: 1rem 0rem;}


@media only screen and (max-width: 799px) {
    .header {
        text-align: center;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list {
        justify-content: center;
    }

    #contact-us, #author {
        margin-top: 4rem;
    }

    #about-us-content > p {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media only screen and (min-width: 800px) { 
    #footer {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
    }

    #zot-tree { left: 75%; transform: translateX(0); }

    #logo-container { margin: 2rem 0rem;}
    #copyright {margin-top: 4rem;}
}

@media only screen and (min-width: 992px) { 
    #footer{ column-gap: 3rem;}
}