.ap-exam-container {
    position: relative;
    margin-bottom: 5px;
    width: 125px;
    border-radius: 1rem;
}

.ap-exam-name {
    text-align: center;
    padding: 5px;
    border-radius: 1rem;
}

.exam-tooltip {
    background-color: #495057 !important;
    border-color: #495057 !important;
    border-radius: 16px !important;
    padding: 10px !important;
    width: 250px;
}

.ap-exam-container:hover .remove-btn {
    opacity: 1;
    visibility: visible;
    color: black;
}

.ap-exam-container:hover {
    border: 1px solid var(--black-2);
}