.grid_container {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.background_images{
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_images > img {
    width: 100%;
    height:auto;
    border-radius: 2.4rem;
}

.timer_btn {
    width: 180px;
    border: 2px outset black;
    border-radius: 1.6rem;
    background-color: white;

    font-size: 2.4rem; 
    font-weight: 600;
    letter-spacing: 0.5rem;
    padding: 1rem;
}

.timer_btn:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.snack_container{
    display: flex;
    justify-content: space-evenly;
    background-color: #D1B3C4;
    border-radius: 2.4rem;
    padding: 4.8rem 1.6rem;
}

.snack_icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}