.time{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.timer_btn {
    width: 180px;
    border: 2px outset black;
    border-radius: 1.6rem;
    background-color: white;

    font-size: 2.4rem; 
    font-weight: 600;
    letter-spacing: 0.5rem;
    padding: 1rem;
}

.timer_btn:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.setting {
    position: absolute;
    right: 6px;
    bottom: 3px;
}

.setting > svg {
    font-size: 3.6rem;
}

.setting:hover > svg {
    transform: scale(1.1);
}