.container {
    height: 100%;
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #D1B3C4;
    border-radius: 2.4rem;
}
.timerContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 3rem 1rem;
    letter-spacing: 2px;
}

.timerContainer > h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

/* .playIcon {
    position: absolute;
    bottom: 3px;
    right: 48px;
} */

.playIcon > svg {
    font-size: 3.6rem;
    /* color: #dc2f02; */
}

.playIcon:hover > svg {
    transform: scale(1.1);
}

.timer {
    padding: 0.4rem 2rem 0.4rem 2rem;
    color: black;
    background-color: white;
    border-radius: 15px;
    letter-spacing: 5px;
}

.timer:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}