#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.4rem;
    background-color: var(--secondary-color);
    height:80px;
}

#brand {
    display: flex; 
    align-items: center;  
    color: var(--primary-color);
}

#nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#nav-list > li {
    margin: 0rem 2rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: white;
}

#nav-list > li > a {
    color: white;;
}

#upload { z-index: 2;}

.btn-nav {
    color: var(--accent-color-2);
}

.btn-nav > svg {
    font-size: 3.2rem;
}

.btn-nav > span {
    font-size: 2.4rem;
    font-weight: 400;
}

.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    margin-left:-15rem;
    z-index: 999;
}

.dropdown-menu li {
    background: #1F1F1F;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background:#307ABB;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #307ABB;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }

@media only screen and (max-width: 599px) {
    #brand > svg {font-size: 0.9rem;}
}

