/*** all components style ***/
/*** Add Course Dropbox ***/
.autoComplete {
    position: relative;
    width: auto;
}

.dropbox {
    position: absolute;
    width: 100%;
    height: 300px;
    margin-right: auto;
    margin-left:auto;
    overflow-y: auto;
}

.drop-item{
    z-index: 2;
    width:inherit;
}

/*** CourseCard ***/
/* couse button */
.edit-button {
    background-color: #006C84;
    border: #fff !important;
    width: 100px;
}

.full-button {
    border: #fff !important;
    width: 100%;
    display: block;
}

.edit-button:hover{
    background-color: #006C84;
    opacity: 0.5;
} 
/* remove-btn */
.removeBtn {
    flex: 0 0 auto;
    font-size: 12px;
    margin: auto;
}

/* course header */
.course-header {
    flex: 1 1 auto;
    font-size: 14px;
    margin: auto;
}


/*** Requirement ***/
.requirement {
    background-color: #E2E8E4;
    min-height: 100px;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}