#schedule {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: visible;

    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

details:last-of-type {
    margin-bottom: 0rem !important;
}

#left-side{
    margin-bottom: 2rem;
}

#left-side ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    border: 1px solid;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
    width: 7.8rem;
    height: 2.8rem;
    font-size: 1.6rem;
    color: var(--accent-color-2);
}

.btn:hover{
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: white;
}

.margin-right-1 {margin-right: 1rem;}

.popup {
    border-radius: 10px !important;
    height: auto;
    width: 240px;
}

.print {display: none;}

#chalkboard{
    width: 16.5rem;
    height: 11.5rem;
    float: right;
}

.unit-text {
    position: absolute;
    bottom: -0.2rem;
    right: -3.5rem;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family:'courier';
}

.unit-text p {
    margin-bottom: 0.5rem;
    font-size: 16px;
}

@media only screen and (max-width: 599px) { 
    #schedule {
        padding: 0 0.3rem 0 0.2rem;
        overflow-x: hidden;
        height: 54rem;
        margin-top: 4.8rem ;
    }

    #left-side > ul:first-child {
        position: absolute;
    }

}

@media only screen and (min-width: 600px) { 
    #schedule {height: 65rem;}
}

@media only screen and (min-width: 800px) { 
    #schedule {overflow: visible; height: auto; margin-bottom: 0;}
}

@media print {
    div, details, summary, p {
        break-inside: avoid !important;
        page-break-inside: avoid !important;
        overflow: visible !important;
    }

    #schedule {
        display: block !important;
        width: 766px;
        height: auto;
        overflow: visible !important;
        padding: 0rem;
        margin: 2rem auto;
    }

    .print {display: block;}

    .printUnit {
        height: auto;
        width: 200px;
        margin-bottom : 1rem;
        padding-left: 1rem;
    }

    .printUnit > div {
        display: flex;
    }

    .printUnit p {
        margin-right: 0.5rem;
        font-size: 14px;
    }

    .printPrograms {
        height: auto;
        width: 750px;
        padding-left: 1rem;
    }

    .printPrograms > p {
        margin-bottom : 0.5rem;
        font-size: 14px;
    }

    img, .unit-text {
        display: none;
    }
}