#nav-bar {
    display: grid;
    padding: 2rem 2.4rem;
    background-color: var(--secondary-color);
}

#brand {display: flex; align-items: center;  color: var(--primary-color);}

#select-major {
    top: 1rem;
    display:flex;
    align-items: center;
    transition: top 1s;
}

#upload { z-index: 2;}

@media only screen and (max-width: 599px) {
    #nav-bar{ grid-template-columns: 2.5fr 0.5fr 0.5fr 0.5fr;}
    #brand > svg {font-size: 0.8rem;}

    #select-major {
        position: absolute;
        z-index: 2;
        top: 8rem;
        left: 50%;
        transform: translateX(-50%);

        margin: 2rem 0rem 1.4rem 0rem;
        width: 27rem;
    }
}

@media only screen and (min-width: 600px) {
    #nav-bar{ grid-template-columns: 3fr 7.5fr 0.5fr 0.5fr 0.5fr;}

    #select-major {
        margin: 0 2rem;
        flex-basis: 100%;
    }

    #download { grid-column: 3;}
    #upload { grid-column: 4; }
    #help { grid-column: 5;}
}

@media only screen and (min-width: 800px) {
    #nav-bar{grid-template-columns: 2.5fr 5fr 1.5fr 0.6fr 0.6fr 0.6fr;}
    
    #download { grid-column: 4; }
    #upload { grid-column: 5; }
    #help { grid-column: 6; }
}

@media only screen and (min-width: 992px) {
    #nav-bar{ grid-template-columns: 2.5fr 4.6fr 2.8fr 0.6fr 0.6fr 0.6fr;}
}